*{
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    display: flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }
    .row {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    display: flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-orient: horizontal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }

    .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
    .row.justify-content-between, .flex.justify-content-between {
    justify-content: space-between;
    }